body {
  font-family: Arial, Helvetica, sans-serif;
}

.Weather {
  border: 1px solid #5a5c5e;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  color: rgb(135, 135, 135);
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #878787;
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
  line-height: 19.2px;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 24px;
  position: relative;
  top: -28px;
  margin-left: 4px;
}
